<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="well">
            <%= form_for Contact.new do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, placeholder: "Fullt navn påkrevd", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, placeholder: "Din e-post, som vi kan kontakte deg på", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, placeholder: "Ditt spørsmål eller bestilling her", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :phone %>
                    <%= f.text_field :phone, placeholder: "Mobilnummer", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :address %>
                    <%= f.text_field :address, placeholder: "Din adresse", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :postal_code %>
                    <%= f.text_field :postal_code, placeholder: "Postnummer", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :postal_place %>
                    <%= f.text_field :postal_place, placeholder: "Poststed", class: 'form-control' %>
                </div>
                
                <%= f.submit 'Send inn', class: 'btn btn-primary' %>
                
            <% end %>
        </div>
    </div>
</div>