<div class="jumbotron jumbosmall">
    <h1 class="text-center">Om Oss</h1>
</div>

<div class="row">
    <div class="container well col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="col-md-offset-1 col-md-2">
            <%= link_to image_tag("espPB.jpg", class: 'about-pics') %>
        </div>
        <div class="col-md-6">
            <h2 class="text-left about-title">Espen Taftø Vestad</h2>
            <h4 class="text-left">Daglig Leder, Web Designer</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="container well col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="col-md-offset-1 col-md-2">
            <%= link_to image_tag("fredrikPB.jpg", class: 'about-pics') %>
        </div>
        <div class="col-md-6">
            <h2 class="text-left about-title">Fredrik Olsen</h2>
            <h4 class="text-left">Økonomi Ansvarlig, Grafisk Designer</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="container well col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="col-md-offset-1 col-md-2">
            <%= link_to image_tag("williamPB.jpg", class: 'about-pics') %>
        </div>
        <div class="col-md-6">
            <h2 class="text-left about-title">William Vågnes</h2>
            <h4 class="text-left">Salgssjef, Fotograf</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="container well col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="col-md-offset-1 col-md-2">
            <%= link_to image_tag("haakonPB.jpg", class: 'about-pics') %>
        </div>
        <div class="col-md-6">
            <h2 class="text-left about-title">Haakon Naalsund</h2>
            <h4 class="text-left">Personalansvarlig, Mobildeksel</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid bers-row">
        <%= link_to image_tag("banner_web_text.jpg", class: 'group-pic') %>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-4">
            <%= link_to image_tag("William2.png", class: 'vertical-img') %>
        </div>
        <div class="col-md-8">
            <h1 class="about-h1">Har du noen spørsmål?</h1>
        </div>
    </div>
</div>

