<div class="jumbotron jumbosmall">
    <h1 class="text-center">Hvem er vi?</h1>
</div>

<hr class="container">

<div class="row">
    <div class="container well col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="col-md-offset-1 col-md-2">
            <%= link_to image_tag("espPB.jpg", class: 'about-pics') %>
        </div>
        <div class="col-md-6">
            <h2 class="text-left about-title">Espen Taftø Vestad</h2>
            <h4 class="text-left">Daglig Leder og Markedsansvarlig, Web Designer</h4>
            <h5 class="text-left">Epost: espen.taftoe@gmail.com</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="container well col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="col-md-offset-1 col-md-2">
            <%= link_to image_tag("fredrikPB.jpg", class: 'about-pics') %>
        </div>
        <div class="col-md-6">
            <h2 class="text-left about-title">Fredrik Olsen</h2>
            <h4 class="text-left">Økonomi Ansvarlig, Grafisk Designer</h4>
            <h5 class="text-left">Epost: froloyt@gmail.com</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="container well col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="col-md-offset-1 col-md-2">
            <%= link_to image_tag("williamPB.jpg", class: 'about-pics') %>
        </div>
        <div class="col-md-6">
            <h2 class="text-left about-title">William Vågnes</h2>
            <h4 class="text-left">Salgssjef, Fotograf</h4>
            <h5 class="text-left">Epost: williamJuli1999@gmail.com</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="container well col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="col-md-offset-1 col-md-2">
            <%= link_to image_tag("haakonPB.jpg", class: 'about-pics') %>
        </div>
        <div class="col-md-6">
            <h2 class="text-left about-title">Haakon Naalsund</h2>
            <h4 class="text-left">Personalansvarlig, Mobildeksel</h4>
            <h5 class="text-left">Epost: haka123@outlook.com</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid bers-row">
        <%= link_to image_tag("banner_web_text.jpg", class: 'group-pic') %>
    </div>
</div>

<hr class="container">

<div class="row">
    <div class="container">
        <div class="col-md-4">
            <%= link_to image_tag("William2.png", class: 'vertical-img') %>
        </div>
        <div class="col-md-8">
            <h1 class="about-h1">Har du noen spørsmål?</h1>
            <p>Kontakt oss gjerne om du har noen spørsmål, vi svarer så raskt som mulig. Du kan kontakte oss gjennom kontakt skjemaet nedenfor eller mediespesialisten@gmail.com. Du kan også nå oss gjennom en av våre personlige epost adresser ovenfor. Vi er svært behjelpelige. Hvis det oppstår problemer med transaksjon o.l. garanterer vi pengene tilbake!</p>
            <%= link_to "Kontakt Oss!", contacts_path, class: 'btn btn-success btn-lg btn-block btn-about-page' %>
        </div>
    </div>
</div>

<hr class="container">

