<div class="jumbotron">
  <div class="container">
    <div class="col-xs-8">
      <h1 id="tittel">Medie Spesialisten</h1>
      <h2 id="h2">Skaper ditt design</h2>
      <h5>Web - Grafisk - Mobildeksel</h5>
    </div>
    <div class="col-xs-4">
      <%= link_to image_tag("hvit_logo.png", class: 'ms-logo, img-responsive') %>
    </div>
    </div>
  </div>
</div>

<hr class="container">

<div class="row content-row">
  <div class="container-fluid text-center">

    <div class="col-sm-3">
      <%= link_to image_tag("Esp2PNG.png", class: 'bedrifts-bilde-stort') %>
    </div>
    <div class="col-sm-3">
      <%= link_to image_tag("fredrikPNG.png", class: 'bedrifts-bilde-stort') %>
    </div>
    <div class="col-sm-3">
      <%= link_to image_tag("WilliamPNG.png", class: 'bedrifts-bilde-stort') %>
    </div>
    <div class="col-sm-3">
      <%= link_to image_tag("haakon_smiling.png", class: 'bedrifts-bilde-stort-2') %>
    </div>
  </div>
</div>

<div class="row">
  <div class="container-fluid bers-row2 text-center">

      <div class="col-md-3">
        <%= link_to 'WebSide', services_path, class: 'small-title' %>
        <p>Trenger du en nettbutikk? Kanskje trenger du et nettsted hvor brukere kan logge seg inn som pro eller basic og utføre betalinger? Eller er du bare ute etter et simpelt design for å profilere deg eller din bedrift? VI har løsningen for deg! Vi dekker DINE behov!</p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Grafisk-Design', services_path, class: 'small-title' %>
        <p>Bli sett! Vår grafiske designer utfører meget godt gjennomførte design, og får ideene ned på papiret. Enten du er ute etter en ny logo, visitkort, eller visuell fremstilling av din bedrift så har vi en løsning for deg! I samarbeid med deg gjør vi din virksomhet synlig i offentligheteg etter dine behov. Vi forbedrer også eksisterende logoer.</p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Mobildeksel', services_path, class: 'small-title' %>
        <p>Vi tilbyr også mobildeksel av god kvalitet. Om du trenger et simpelt deksel til en billig penge, så har vi hvite, enkle mobildeksel til ulike modeller. Mobildeksel med eget print er også mulig. Vi har begrenset opplag på mobildeksel så her gjelder det å være kjapp!</p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Print', services_path, class: 'small-title' %>
        <p>Få det bildet som betyr aller mest for deg på baksiden av din mobil! Medie Spesialisten tilbyr også sine mobildeksel med print! Send oss det bildet du vil ha, og vi fikser et plettfritt mobildeksel for deg!</p>
      </div>

  </div>
</div>

<hr class="container">

<div class="row">
  <div class="container text-center white-row">
    <div class="col-lg-12">
      <h2 class="text-center large-text">- Hva kan vi hjelpe deg med? -</h2>
    </div>
  </div>
</div>

<hr class="container">

<div class="row">
  <div class="container-fluid">
    <div class="container">
      <div class="col-md-6 text-center">
        <i class="fa fa-mobile icon-homepage" aria-hidden="true"></i>
        <h2>Mobildeksel</h2>
        <p>Medie Spesialisten UB leverer mobildeksel med unike design! Her kan du finne telefondeksel i stilige svart/hvitt designs. Vårt utvalg baserer seg hovedsaklig på iPhone, men vi har også mobildeksel til få Samsung og Sony modeller. Vi sender våre mobildeksel nasjonalt til en konkuranse dyktig pris!</p>
        <%= link_to "Bestill mobildeksel her!", products_path, class: 'btn btn-primary btn-lg btn-block btn-homepage' %>
      </div>
      <div class="col-md-6 text-center">
        <i class="fa fa-check-square-o icon-homepage" aria-hidden="true"></i>
        <h2>Medie Tjenester</h2>
        <p>Trenger du en webside eller visualisering av en grafisk ide? Kanskje trenger du logo design eller en promovideo for din bedrift? Vi tilbyr alle disse tjenestene og har flinke folk innenfor hvert felt. Gjennom vårt bestillingsskjema, kan du sende oss dine planer. Deretter visualiserer vi prosjektet for deg!</p>
        <%= link_to "Bestill medietjeneste!", services_path, class: 'btn btn-success btn-lg btn-block btn-homepage' %>
      </div>
    </div>
  </div>
</div>

