<div class="jumbotron text-center">
  <h1>MedieSpesialisten</h1>
  <h3>- Slagord -</h3>
</div>



<div class="row content-row">
  <div class="container-fluid text-center">

    <div class="col-md-3">
      <%= link_to image_tag("Esp2PNG.png", class: 'bedrifts-bilde-stort') %>
    </div>
    <div class="col-md-3">
      <%= link_to image_tag("fredrikPNG.png", class: 'bedrifts-bilde-stort') %>
    </div>
    <div class="col-md-3">
      <%= link_to image_tag("WilliamPNG.png", class: 'bedrifts-bilde-stort') %>
    </div>
    <div class="col-md-3">
      <%= link_to image_tag("haakonPNG.png", class: 'bedrifts-bilde-stort') %>
    </div>
  </div>
</div>

<div class="row">
  <div class="container-fluid white-row text-center">

      <div class="col-md-3 ">
        <h2 class="small-title">WebDesign</h2>
        <p>ypografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.</p>
      </div>
      <div class="col-sm-3">
        <h2 class="small-title">Grafisk Design</h2>
        <p>ypografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.</p>
      </div>
      <div class="col-sm-3">
        <h2 class="small-title">Fotografering</h2>
        <p>ypografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.</p>
      </div>
      <div class="col-sm-3">
        <h2 class="small-title">Mobildeksel</h2>
        <p>ypografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.</p>
      </div>

  </div>
</div>

<div class="row">
  <div class="container-fluid bers-row">
    <div class="container">
      <div class="col-md-6 text-center">
        <i class="fa fa-mobile icon-homepage" aria-hidden="true"></i>
        <h2>Mobildeksel</h2>
        <p>Medie Spesialisten UB leverer mobildeksel med unike design! Her kan du finne telefondeksel i stilige svart/hvitt designs. Vårt utvalg baserer seg hovedsaklig på iPhone, men vi har også mobildeksel til få Samsung og Sony modeller. Vi sender våre mobildeksel nasjonalt til en konkuranse dyktig pris!</p>
        <%= link_to "Bestill mobildeksel her!", products_path, class: 'btn btn-primary btn-lg btn-block btn-homepage' %>
      </div>
      <div class="col-sm-6 text-center">
        <i class="fa fa-check-square-o icon-homepage" aria-hidden="true"></i>
        <h2>Medie Tjenester</h2>
        <p>Trenger du en webside eller visualisering av en grafisk ide? Kanskje trenger du logo design eller en promovideo for din bedrift? Vi tilbyr alle disse tjenestene og har flinke folk innenfor hvert felt. Gjennom vårt bestillingsskjema, kan du sende oss dine planer. Deretter visualiserer vi prosjektet for deg!</p>
        <%= link_to "Bestill en medietjeneste her!", tjenester_path, class: 'btn btn-success btn-lg btn-block btn-homepage' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container-fluid footer-row">
    <div class="container">

    </div>
  </div>
</div>