<div class="jumbotron jumbosmall text-center">
    <h1>Kontakt Oss</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <p class="text-center">Har du noen spørsmål angående våre tjenester og produkter? Fyll inn dine spørsmål i feltet under og du vil få svar veldig snart! Ikke glem å skriv inn epost adressen din riktig, slik at vi kan nå deg tilbake.</p>
        <div class="well">
            <%= form_for @contact do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, placeholder: "Fullt navn påkrevd", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, placeholder: "Din e-post, som vi kan kontakte deg på", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, placeholder: "Ditt spørsmål eller bestilling", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :phone %>
                    <%= f.text_field :phone, placeholder: "Mobilnummer", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :address %>
                    <%= f.text_field :address, placeholder: "Din adresse", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :postal_code %>
                    <%= f.text_field :postal_code, placeholder: "Postnummer", class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :postal_place %>
                    <%= f.text_field :postal_place, placeholder: "Poststed", class: 'form-control' %>
                </div>
                
                <%= f.submit 'Send inn', class: 'btn btn-primary' %>
                
            <% end %>
        </div>
    </div>
</div>

<hr class="container">

<div class="row">

        <div class="col-md-offset-4 col-md-4 col-md-offset-4 well">
            <i class="fa fa-facebook-square small-contact-icon" aria-hidden="true"></i>
            <p class="col-md-offset-3 small-contact-text">/mediespesialisten</p>
            <hr>
            <i class="fa fa-instagram small-contact-icon" aria-hidden="true"></i>
            <p class="col-md-offset-3 small-contact-text">@mediespesialisten</p>
            <hr>
            <i class="fa fa-youtube small-contact-icon" aria-hidden="true"></i>
            <%= link_to "-  Youtube Kanal!", 'https://www.youtube.com/channel/UC1ZvZ1kz1HR5SRC9K8QbOEQ', class: 'col-md-offset-3 small-contact-text text-left' %>
        </div>

</div>