<!DOCTYPE html>
<html>
    <head>
    </head>
    
    <body>
        <p>Vi har mottatt en ny bestilling / melding fra en kunde! Dette betyr cash i lomma og rikdom til sommern. Husk å behandle henvendelser tidlig! </p>
        <p class="email-p"><strong>Kunde:</strong> <%= "#{ @name } " %></p>
        <p class="email-p"><strong>Email:</strong> <%= "#{ @email } " %></p>
        <p class="email-p"><strong>Mobilnummer:</strong> <%= "#{ @phone } " %></p>
        <p class="email-p"><strong>Adresse:</strong> <%= "#{ @address } " %></p>
        <p class="email-p"><strong>Postnummer:</strong> <%= "#{ @postal_code } " %></p>
        <p class="email-p"><strong>Poststed:</strong> <%= "#{ @postal_place } " %></p>
        
        <hr>
        <p class="email-p">Kommentar / bestilling:</p>
        <p class="email-p"><%= "#{ @body }" %></p>
    </body>
</html>