<!DOCTYPE html>
<html>
<head>
  <title>Medie Spesialisten UB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
  <%= javascript_include_tag 'application' %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fa fa-camera"></i>
        Medie Spesialisten UB
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <div class="nav navbar-nav navbar-right">
        
        <li><%= link_to "Om Oss", about_path %></li>
        <li><%= link_to "Kontakt Oss", new_contact_path %></li>
        <li><%= link_to "Produkter", products_path %></li>
        <li><%= link_to "Tjenester", services_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
  
<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
</div>

  <%= yield %>

<hr class="container">

<div class="row">
  <div class="container-fluid footer-row">
    <div class="container">
      <div class="col-md-offset-3 col-md-6 text-center">
        <h2 class="white-header text-center">- Medie Spesialisten UB -</h2>
        <p class="footer-text text-center">© Alle rettigheter til dette nettstedet eies av Medie Spesialisten UB. Nettstedet er beskyttet med opphavsrett og kopiering av våre web koder er ikke tillat.</p>
      <%= link_to image_tag("facebook_logo.png", class: 'footer-logo') %>
      <%= link_to image_tag("insta_logo.png", class: 'footer-logo') %>
      <%= link_to image_tag("youtube_logo.png", class: 'footer-logo') %>
      </div>
    </div>
  </div>
</div>

</body>
</html>